.settings {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &_button {
    margin-top: auto;
    align-self: center;
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  font-size: 20px;

  &_field {
    margin: 15px 0;
    padding: 5px 10px;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}