.game-result {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &_score {
    font-size: 18px;
  }
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}